/* Buttons */
.ck-button {
	border: none;
	background: none;
	color: var(--default-button-color);
	border-radius: var(--default-border-radius);
	font-size: 1rem;
	padding: 5px 10px;
	cursor: pointer;
	transition: all 200ms ease-in-out;
}

.ck-button:hover,
.ck-button:active {
	background: var(--on-default-button-background);
	color: var(--on-default-button-color);
}

.ck-button--medium {
	padding: 10px 15px;
}

.ck-button--large {
	padding: 15px 30px;
}

.ck-button--rounded {
	border-radius: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.ck-button--square {
	border-radius: initial;
}

.ck-button--icon {
	border-radius: 50%;
	height: 35px;
	width: 35px;
}

/* Text buttons */
.ck-button--text {
}

.ck-button--text.ck-button--primary {
	border: none;
	background: none;
	color: var(--primary-button-color);
}
.ck-button--text.ck-button--primary:hover {
	background: var(--primary-button-background);
	color: var(--on-primary-button-color);
}

.ck-button--text.ck-button--secondary {
	border: none;
	background: none;
	color: var(--secondary-button-color);
}
.ck-button--text.ck-button--secondary:hover {
	background: var(--secondary-button-background);
	color: var(--on-secondary-button-color);
}
.ck-button--text.ck-button--danger {
	border: none;
	background: none;
	color: var(--danger-button-color);
}
.ck-button--text.ck-button--danger:hover {
	background: var(--danger-button-background);
	color: var(--on-danger-button-color);
}

/* Outlined Buttons */
.ck-button--outlined {
	border: 1px solid var(--on-default-button-background);
	background: none;
	color: var(--default-button-color);
}

.ck-button--outlined:hover {
	background: var(--on-default-button-background);
	color: var(--on-default-button-color);
}

.ck-button--outlined.ck-button--primary {
	border: 1px solid var(--on-primary-button-background);
	background: none;
	color: var(--primary-button-color);
}
.ck-button--outlined.ck-button--primary:hover {
	background: var(--on-primary-button-background);
	color: var(--on-primary-button-color);
}

.ck-button--outlined.ck-button--secondary {
	border: 1px solid var(--on-secondary-button-background);
	background: none;
	color: var(--secondary-button-color);
}
.ck-button--outlined.ck-button--secondary:hover {
	background: var(--on-secondary-button-background);
	color: var(--on-secondary-button-color);
}

.ck-button--outlined.ck-button--danger {
	border: 1px solid var(--on-danger-button-background);
	background: none;
	color: var(--danger-button-color);
}
.ck-button--outlined.ck-button--danger:hover {
	background: var(--on-danger-button-background);
	color: var(--on-danger-button-color);
}

/* Unelevated & Raised */
.ck-button--unelevated,
.ck-button--raised {
	background: var(--on-default-button-background);
	color: var(--on-default-button-color);
}
.ck-button--unelevated:hover,
.ck-button--unelevated:active {
	background: var(--default-button-background);
}

.ck-button--unelevated.ck-button--primary {
	background: var(--on-primary-button-background);
	color: var(--on-primary-button-color);
}
.ck-button--unelevated.ck-button--primary:hover {
	background: var(--primary-button-background);
	color: var(--on-primary-button-color);
}

.ck-button--unelevated.ck-button--secondary {
	background: var(--on-secondary-button-background);
	color: var(--on-secondary-button-color);
}
.ck-button--unelevated.ck-button--secondary:hover {
	background: var(--secondary-button-background);
	color: var(--on-secondary-button-color);
}

.ck-button--unelevated.ck-button--danger {
	background: var(--on-danger-button-background);
	color: var(--on-danger-button-color);
}
.ck-button--unelevated.ck-button--danger:hover {
	background: var(--danger-button-background);
	color: var(--on-danger-button-color);
}

/* Raised Buttons */
.ck-button--raised {
	outline: none;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.11), 0 1px 1px rgba(0, 0, 0, 0.11),
		0 2px 2px rgba(0, 0, 0, 0.11), 0 3px 4px rgba(0, 0, 0, 0.11),
		0 5px 10px rgba(0, 0, 0, 0.11);
}
.ck-button--raised:hover {
	background: var(--on-default-button-background);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.11), 0 2px 2px rgba(0, 0, 0, 0.11),
		0 4px 4px rgba(0, 0, 0, 0.11), 0 8px 12px rgba(0, 0, 0, 0.11),
		0 12px 24px rgba(0, 0, 0, 0.11);
}
.ck-button--raised:active {
	box-shadow: none;
}

.ck-button--raised.ck-button--primary {
	background: var(--on-primary-button-background);
	color: var(--on-primary-button-color);
}

.ck-button--raised.ck-button--secondary {
	background: var(--on-secondary-button-background);
	color: var(--on-secondary-button-color);
}

.ck-button--raised.ck-button--danger {
	background: var(--on-danger-button-background);
	color: var(--on-danger-button-color);
}

/* Primary Buttons */
.ck-button--primary {
	border: var(--primary-button-background);
	background: var(--primary-button-background);
	color: var(--base-color-1);
}
.ck-button--primary:hover {
	background: var(--on-primary-button-background);
	color: var(--on-primary-button-color);
}

/* secondary Buttons */
.ck-button--secondary {
	border: var(--accent-button-background);
	background: var(--accent-button-background);
	color: var(--accent-button-color);
}
.ck-button--secondary:hover {
	background: var(--on-secondary-button-background);
	color: var(--on-secondary-button-color);
}

/* Danger Buttons */
.ck-button--danger {
	background: var(--danger-button-background);
	color: var(--danger-button-color);
}
.ck-button--danger:hover {
	background: var(--on-danger-button-background);
	color: var(--on-danger-button-color);
}
