/* Fonts from Google */
@import url('https://fonts.googleapis.com/css?family=Satisfy|Martel:100,200,300,400,500,600,700,800,900|Ubuntu:100,200,300,400,500,600,700,800,900|Source+Sans+Pro:100,200,300,400,500,600,700,800,900&display=swap');
@import url('./typography.css');
@import url('./button.css');
@import url('./contextual_messages.css');
@import url('./form_elements.css');

* {
	box-sizing: border-box;
	outline-color: var(--context-color-safety);
}

:root {
	/**/
	--default-border-radius: 5px;

	/* Colors */
	--primary-color-1: white; /**/
	--on-primary-color-1: white; /**/

	--primary-color-2: #222; /**/
	--on-primary-color-2: #333; /**/

	--secondary-color-navy-1: hsla(210, 100%, 12%, 1);
	--secondary-color-navy-2: hsla(210, 100%, 17%, 1);
	--secondary-color-navy-3: hsla(210, 100%, 22%, 1);
	--secondary-color-navy-4: hsla(210, 100%, 27%, 1);
	--secondary-color-navy-5: hsla(210, 100%, 32%, 1);
	--secondary-color-navy-6: hsla(210, 100%, 37%, 1);

	--secondary-color-blue-1: hsla(208, 100%, 43%, 1);
	--secondary-color-blue-2: hsla(208, 100%, 48%, 1);
	--secondary-color-blue-3: hsla(208, 100%, 53%, 1);
	--secondary-color-blue-4: hsla(208, 100%, 58%, 1);
	--secondary-color-blue-5: hsla(208, 100%, 63%, 1);
	--secondary-color-blue-6: hsla(208, 100%, 68%, 1);

	--secondary-color-aqua-1: hsla(197, 100%, 65%, 1);
	--secondary-color-aqua-2: hsla(197, 100%, 70%, 1);
	--secondary-color-aqua-3: hsla(197, 100%, 75%, 1);
	--secondary-color-aqua-4: hsla(197, 100%, 80%, 1);
	--secondary-color-aqua-5: hsla(197, 100%, 85%, 1);
	--secondary-color-aqua-6: hsla(197, 100%, 90%, 1);

	--secondary-color-teal-1: hsla(180, 59%, 51%, 1);
	--secondary-color-teal-2: hsla(180, 59%, 56%, 1);
	--secondary-color-teal-3: hsla(180, 59%, 61%, 1);
	--secondary-color-teal-4: hsla(180, 59%, 66%, 1);
	--secondary-color-teal-5: hsla(180, 59%, 71%, 1);
	--secondary-color-teal-6: hsla(180, 59%, 76%, 1);

	--secondary-color-olive-1: hsla(154, 44%, 42%, 1);
	--secondary-color-olive-2: hsla(154, 44%, 47%, 1);
	--secondary-color-olive-3: hsla(154, 44%, 52%, 1);
	--secondary-color-olive-4: hsla(154, 44%, 57%, 1);
	--secondary-color-olive-5: hsla(154, 44%, 62%, 1);
	--secondary-color-olive-6: hsla(154, 44%, 67%, 1);

	--secondary-color-green-1: hsla(127, 63%, 49%, 1);
	--secondary-color-green-2: hsla(127, 63%, 54%, 1);
	--secondary-color-green-3: hsla(127, 63%, 59%, 1);
	--secondary-color-green-4: hsla(127, 63%, 64%, 1);
	--secondary-color-green-5: hsla(127, 63%, 69%, 1);
	--secondary-color-green-6: hsla(127, 63%, 74%, 1);

	--secondary-color-lime-1: hsla(146, 100%, 50%, 1);
	--secondary-color-lime-2: hsla(146, 100%, 55%, 1);
	--secondary-color-lime-3: hsla(146, 100%, 60%, 1);
	--secondary-color-lime-4: hsla(146, 100%, 65%, 1);
	--secondary-color-lime-5: hsla(146, 100%, 70%, 1);
	--secondary-color-lime-6: hsla(146, 100%, 75%, 1);

	--secondary-color-yellow-1: hsla(52, 100%, 50%, 1);
	--secondary-color-yellow-2: hsla(52, 100%, 55%, 1);
	--secondary-color-yellow-3: hsla(52, 100%, 60%, 1);
	--secondary-color-yellow-4: hsla(52, 100%, 65%, 1);
	--secondary-color-yellow-5: hsla(52, 100%, 70%, 1);
	--secondary-color-yellow-6: hsla(52, 100%, 75%, 1);

	--secondary-color-orange-1: hsla(28, 100%, 55%, 1);
	--secondary-color-orange-2: hsla(28, 100%, 60%, 1);
	--secondary-color-orange-3: hsla(28, 100%, 65%, 1);
	--secondary-color-orange-4: hsla(28, 100%, 70%, 1);
	--secondary-color-orange-5: hsla(28, 100%, 75%, 1);
	--secondary-color-orange-6: hsla(28, 100%, 80%, 1);

	--secondary-color-red-1: hsla(3, 99%, 60%, 1);
	--secondary-color-red-2: hsla(3, 99%, 65%, 1);
	--secondary-color-red-3: hsla(3, 99%, 70%, 1);
	--secondary-color-red-4: hsla(3, 99%, 75%, 1);
	--secondary-color-red-5: hsla(3, 99%, 80%, 1);
	--secondary-color-red-6: hsla(3, 99%, 85%, 1);

	--secondary-color-maroon-1: hsla(331, 74%, 30%, 1);
	--secondary-color-maroon-2: hsla(331, 74%, 35%, 1);
	--secondary-color-maroon-3: hsla(331, 74%, 40%, 1);
	--secondary-color-maroon-4: hsla(331, 74%, 45%, 1);
	--secondary-color-maroon-5: hsla(331, 74%, 50%, 1);
	--secondary-color-maroon-6: hsla(331, 74%, 55%, 1);

	--secondary-color-fuchsia-1: hsla(313, 88%, 50%, 1);
	--secondary-color-fuchsia-2: hsla(313, 88%, 55%, 1);
	--secondary-color-fuchsia-3: hsla(313, 88%, 60%, 1);
	--secondary-color-fuchsia-4: hsla(313, 88%, 65%, 1);
	--secondary-color-fuchsia-5: hsla(313, 88%, 70%, 1);
	--secondary-color-fuchsia-6: hsla(313, 88%, 75%, 1);

	--secondary-color-purple-1: hsla(293, 89%, 42%, 1);
	--secondary-color-purple-2: hsla(293, 89%, 47%, 1);
	--secondary-color-purple-3: hsla(293, 89%, 52%, 1);
	--secondary-color-purple-4: hsla(293, 89%, 57%, 1);
	--secondary-color-purple-5: hsla(293, 89%, 62%, 1);
	--secondary-color-purple-6: hsla(293, 89%, 67%, 1);

	--secondary-color-grey-1: hsla(0, 0%, 67%, 1);
	--secondary-color-grey-2: hsla(0, 0%, 72%, 1);
	--secondary-color-grey-3: hsla(0, 0%, 77%, 1);
	--secondary-color-grey-4: hsla(0, 0%, 82%, 1);
	--secondary-color-grey-5: hsla(0, 0%, 87%, 1);
	--secondary-color-grey-6: hsla(0, 0%, 92%, 1);

	--secondary-color-silver-1: hsla(0, 0%, 85%, 1);
	--secondary-color-silver-2: hsla(0, 0%, 88%, 1);
	--secondary-color-silver-3: hsla(0, 0%, 91%, 1);
	--secondary-color-silver-4: hsla(0, 0%, 94%, 1);
	--secondary-color-silver-5: hsla(0, 0%, 97%, 1);
	--secondary-color-silver-6: hsla(0, 0%, 100%, 1);

	/* blue */
	--context-color-safety: var(--secondary-color-blue-2);
	--on-context-color-safety: var(--secondary-color-blue-6);

	/* green-6 with higher/lower lumination */
	--context-color-success: hsla(127, 63%, 94%, 1);
	--on-context-color-success: hsla(127, 63%, 34%, 1);

	/* blue-6 with higher/lower lumination */
	--context-color-informational: hsla(208, 100%, 93%, 1);
	--on-context-color-informational: hsla(208, 100%, 33%, 1);

	/* yellow with higher/lower lumination */
	--context-color-warning: hsla(52, 100%, 95%, 1);
	--on-context-color-warning: hsla(52, 100%, 35%, 1);

	/* red with higher/lower lumination */
	--context-color-danger: hsla(3, 99%, 90%, 1);
	--on-context-color-danger: hsla(3, 99%, 30%, 1);

	/* Buttons */
	--primary-button-color: var(--primary-color-1);
	--on-primary-button-color: var(--secondary-color-blue-1);
	--primary-button-background: var(--secondary-color-blue-1);
	--on-primary-button-background: var(--secondary-color-blue-6);

	--secondary-button-color: var(--primary-color-1);
	--on-secondary-button-color: var(--secondary-color-orange-1);
	--secondary-button-background: var(--secondary-color-orange-1);
	--on-secondary-button-background: var(--secondary-color-orange-6);

	--informational-button-color: var(--primary-color-1);
	--on-informational-button-color: var(--secondary-color-green-1);
	--informational-button-background: var(--secondary-color-green-1);
	--on-informational-button-background: var(--secondary-color-green-6);

	--danger-button-color: var(--primary-color-1);
	--on-danger-button-color: var(--secondary-color-red-6);
	--danger-button-background: var(--secondary-color-red-1);
	--on-danger-button-background: var(--secondary-color-red-1);
}

body {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 18px;
}
