html {
	scroll-behavior: smooth;
}

body {
	background: whitesmoke;
	display: grid;
	padding: 20px;
	font-size: 22px;
	max-width: 900px;
	margin: auto;
}

main {
	border-radius: 20px;
	background: white;
	margin: 30px;
	padding: 20px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07),
		0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07),
		0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
}

header div {
	text-align: center;
}

@media (min-width: 800px) {
	body {
		grid-template-columns: 200px 1fr;
		padding: initial;
	}

	header {
		position: sticky;
		top: 0;
		height: 100vh;
	}

	header div {
		padding: 20px;
		text-align: left;
	}
}

header {
	color: #333;
}

header h1 {
	margin: 0 0 40px 0;
	font-size: 1.5em;
}

header nav {
}

header nav ul {
	margin: 0;
	padding: 0;
}

header nav a {
	text-decoration: none;
	color: inherit;
}

header nav a li {
	list-style-type: none;
	font-size: 20px;
	line-height: 1.6;
}

header nav a li:hover {
	text-decoration: underline;
}

.styleguide-section {
	min-height: 400px;
}

.styleguide-section .styleguide-section-title {
	font-weight: 300;
	font-style: italic;
	padding-bottom: 10px;
	border-bottom: 1px solid #333;
	position: relative;
	display: flex;
	align-items: center;
}

.styleguide-section-title:hover:before {
	content: '#';
	position: absolute;
	font-size: 30px;
	left: -15px;
}

.styleguide-section-content {
}

.styleguide-section-subsection {
	margin: 60px 0;
}

.styleguide-section .styleguide-section-description,
.styleguide-section-subsection .section-subsection-description {
	text-align: center;
	max-width: 500px;
	margin: auto;
	margin-bottom: 10px;
}

.section-subsection-title {
	font-weight: 300;
	text-align: center;
	margin: 15px;
}

/* Typography Section */
.styleguide-text-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 20px;
}

.text-container-title {
	font-size: 12px;
	display: block;
	text-align: center;
}

.text-container-list {
	list-style-type: none;
	padding: 0;
	text-align: center;
}

.pairings-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 20px;
}

.pairings-container div {
	padding: 20px;
	background: #222;
	color: whitesmoke;
}

.pairings-container div h1,
.pairings-container div h2 {
	margin-bottom: 0;
	line-height: 1;
}

.pairings-container span {
	font-size: 12px;
}

.hierarchy-examples-grid {
	display: grid;
	grid-gap: 40px;
}

.hierarchy-example {
	background: #222;
	color: whitesmoke;
	text-align: left;
	padding: 10px;
}

.hierarchy-example1 {
	--heading-size: 50pt;

	font-size: calc(var(--heading-size) * 0.25);
	line-height: 1.6;
	margin: 10px 0;
}

.hierarchy-example1 article {
	margin-top: 15px;
}

.hierarchy-example2 {
	--heading-size: 50pt;
}

.hierarchy-example2 .ck-heading {
	font-size: var(--heading-size);
}

.hierarchy-example2 .ck-subheading {
	font-size: calc(var(--heading-size) * 0.5);
}

.hierarchy-example2 article {
	margin-top: 80px;
}

.hierarchy-example1 p,
.hierarchy-example2 p {
	font-size: calc(var(--heading-size) * 0.25);
	line-height: 1.6;
	margin: 10px 0;
}

/* Colors */
.color {
	min-height: 200px;
}

.color--small {
	min-height: 50px;
}

.colors-grid .label {
	display: block;
	padding: 5px;
	position: absolute;
	z-index: 1;
}

.shades-color-subsection .colors-grid,
.base-colors-subsection .colors-grid {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 20px;
}

.base-colors-subsection .colors-grid {
	grid-template-columns: repeat(2, 1fr);
}

.colors-grid--small {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-gap: 20px;
}

.colors-grid--small .color--small {
	background: grey;
}

.base-colors-subsection .color {
	border: 1px solid black;
}

.base-1 .color {
	background: var(--base-color-1);
}
.base-1 .color:hover {
	background: var(--on-base-color-1);
}

.base-2 {
	color: white;
}

.base-2 .color {
	background: var(--base-color-2);
}

.secondary-colors-subsection .colors-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 20px;
}

.color--small,
.secondary-colors-subsection .color-card .color {
	transition: transform 200ms ease-in-out;
}

.secondary-colors-subsection .color-card .color:hover {
	transform: scale(1.1);
}
.color--small:hover {
	transform: scale(1.2);
}
.secondary-1 .color {
	background: var(--accent-color-navy-1);
}
.secondary-1 .label {
	color: var(--accent-color-navy-6);
}

.secondary-2 .color {
	background: var(--accent-color-blue-1);
}
.secondary-2 .label {
	color: var(--accent-color-blue-6);
}

.secondary-3 .color {
	background: var(--accent-color-aqua-1);
}
.secondary-3 .label {
	color: var(--accent-color-aqua-6);
}

.secondary-4 .color {
	background: var(--accent-color-teal-1);
}
.secondary-4 .label {
	color: var(--accent-color-teal-6);
}

.secondary-5 .color {
	background: var(--accent-color-olive-1);
}
.secondary-5 .label {
	color: var(--accent-color-olive-6);
}

.secondary-6 .color {
	background: var(--accent-color-green-1);
}
.secondary-6 .label {
	color: var(--accent-color-green-6);
}

.secondary-7 .color {
	background: var(--accent-color-lime-1);
}
.secondary-7 .label {
	color: var(--accent-color-lime-6);
}

.secondary-8 .color {
	background: var(--accent-color-yellow-1);
}
.secondary-8 .label {
	color: var(--accent-color-yellow-6);
}

.secondary-9 .color {
	background: var(--accent-color-orange-1);
}
.secondary-9 .label {
	color: var(--accent-color-orange-6);
}

.secondary-10 .color {
	background: var(--accent-color-red-1);
}
.secondary-10 .label {
	color: var(--accent-color-red-6);
}

.secondary-11 .color {
	background: var(--accent-color-maroon-1);
}
.secondary-11 .label {
	color: var(--accent-color-maroon-6);
}

.secondary-12 .color {
	background: var(--accent-color-fuchsia-1);
}
.secondary-12 .label {
	color: var(--accent-color-fuchsia-6);
}

.secondary-13 .color {
	background: var(--accent-color-purple-1);
}
.secondary-13 .label {
	color: var(--accent-color-purple-6);
}

.secondary-14 .color {
	background: var(--accent-color-grey-1);
}
.secondary-14 .label {
	color: var(--accent-color-grey-6);
}

.secondary-15 .color {
	background: var(--accent-color-silver-1);
}
.secondary-15 .label {
	color: var(--accent-color-silver-6);
}

.safety-color-subsection .color {
	background: var(--context-color-safety);
}
.safety-color-subsection .label {
	color: var(--base-color-1);
}

/* color shades: navy */
.colors-grid--small.navy .label {
	background: var(--accent-color-navy-6);
}
.colors-grid--small.navy div:nth-of-type(1) {
	background: var(--accent-color-navy-1);
}
.colors-grid--small.navy div:nth-of-type(2) {
	background: var(--accent-color-navy-2);
}
.colors-grid--small.navy div:nth-of-type(3) {
	background: var(--accent-color-navy-3);
}
.colors-grid--small.navy div:nth-of-type(4) {
	background: var(--accent-color-navy-4);
}
.colors-grid--small.navy div:nth-of-type(5) {
	background: var(--accent-color-navy-5);
}
.colors-grid--small.navy div:nth-of-type(6) {
	background: var(--accent-color-navy-6);
}

/* color shades: blue */
.colors-grid--small.blue div:nth-of-type(1) {
	background: var(--accent-color-blue-1);
}
.colors-grid--small.blue div:nth-of-type(2) {
	background: var(--accent-color-blue-2);
}
.colors-grid--small.blue div:nth-of-type(3) {
	background: var(--accent-color-blue-3);
}
.colors-grid--small.blue div:nth-of-type(4) {
	background: var(--accent-color-blue-4);
}
.colors-grid--small.blue div:nth-of-type(5) {
	background: var(--accent-color-blue-5);
}
.colors-grid--small.blue div:nth-of-type(6) {
	background: var(--accent-color-blue-6);
}

/* color shades: aqua */
.colors-grid--small.aqua div:nth-of-type(1) {
	background: var(--accent-color-aqua-1);
}
.colors-grid--small.aqua div:nth-of-type(2) {
	background: var(--accent-color-aqua-2);
}
.colors-grid--small.aqua div:nth-of-type(3) {
	background: var(--accent-color-aqua-3);
}
.colors-grid--small.aqua div:nth-of-type(4) {
	background: var(--accent-color-aqua-4);
}
.colors-grid--small.aqua div:nth-of-type(5) {
	background: var(--accent-color-aqua-5);
}
.colors-grid--small.aqua div:nth-of-type(6) {
	background: var(--accent-color-aqua-6);
}

/* color shades: teal */
.colors-grid--small.teal div:nth-of-type(1) {
	background: var(--accent-color-teal-1);
}
.colors-grid--small.teal div:nth-of-type(2) {
	background: var(--accent-color-teal-2);
}
.colors-grid--small.teal div:nth-of-type(3) {
	background: var(--accent-color-teal-3);
}
.colors-grid--small.teal div:nth-of-type(4) {
	background: var(--accent-color-teal-4);
}
.colors-grid--small.teal div:nth-of-type(5) {
	background: var(--accent-color-teal-5);
}
.colors-grid--small.teal div:nth-of-type(6) {
	background: var(--accent-color-teal-6);
}

/* color shades: olive */
.colors-grid--small.olive div:nth-of-type(1) {
	background: var(--accent-color-olive-1);
}
.colors-grid--small.olive div:nth-of-type(2) {
	background: var(--accent-color-olive-2);
}
.colors-grid--small.olive div:nth-of-type(3) {
	background: var(--accent-color-olive-3);
}
.colors-grid--small.olive div:nth-of-type(4) {
	background: var(--accent-color-olive-4);
}
.colors-grid--small.olive div:nth-of-type(5) {
	background: var(--accent-color-olive-5);
}
.colors-grid--small.olive div:nth-of-type(6) {
	background: var(--accent-color-olive-6);
}

/* color shades: green */
.colors-grid--small.green div:nth-of-type(1) {
	background: var(--accent-color-green-1);
}
.colors-grid--small.green div:nth-of-type(2) {
	background: var(--accent-color-green-2);
}
.colors-grid--small.green div:nth-of-type(3) {
	background: var(--accent-color-green-3);
}
.colors-grid--small.green div:nth-of-type(4) {
	background: var(--accent-color-green-4);
}
.colors-grid--small.green div:nth-of-type(5) {
	background: var(--accent-color-green-5);
}
.colors-grid--small.green div:nth-of-type(6) {
	background: var(--accent-color-green-6);
}

/* color shades: lime */
.colors-grid--small.lime div:nth-of-type(1) {
	background: var(--accent-color-lime-1);
}
.colors-grid--small.lime div:nth-of-type(2) {
	background: var(--accent-color-lime-2);
}
.colors-grid--small.lime div:nth-of-type(3) {
	background: var(--accent-color-lime-3);
}
.colors-grid--small.lime div:nth-of-type(4) {
	background: var(--accent-color-lime-4);
}
.colors-grid--small.lime div:nth-of-type(5) {
	background: var(--accent-color-lime-5);
}
.colors-grid--small.lime div:nth-of-type(6) {
	background: var(--accent-color-lime-6);
}

/* color shades: yellow */
.colors-grid--small.yellow div:nth-of-type(1) {
	background: var(--accent-color-yellow-1);
}
.colors-grid--small.yellow div:nth-of-type(2) {
	background: var(--accent-color-yellow-2);
}
.colors-grid--small.yellow div:nth-of-type(3) {
	background: var(--accent-color-yellow-3);
}
.colors-grid--small.yellow div:nth-of-type(4) {
	background: var(--accent-color-yellow-4);
}
.colors-grid--small.yellow div:nth-of-type(5) {
	background: var(--accent-color-yellow-5);
}
.colors-grid--small.yellow div:nth-of-type(6) {
	background: var(--accent-color-yellow-6);
}

/* color shades: orange */
.colors-grid--small.orange div:nth-of-type(1) {
	background: var(--accent-color-orange-1);
}
.colors-grid--small.orange div:nth-of-type(2) {
	background: var(--accent-color-orange-2);
}
.colors-grid--small.orange div:nth-of-type(3) {
	background: var(--accent-color-orange-3);
}
.colors-grid--small.orange div:nth-of-type(4) {
	background: var(--accent-color-orange-4);
}
.colors-grid--small.orange div:nth-of-type(5) {
	background: var(--accent-color-orange-5);
}
.colors-grid--small.orange div:nth-of-type(6) {
	background: var(--accent-color-orange-6);
}

/* color shades: red */
.colors-grid--small.red div:nth-of-type(1) {
	background: var(--accent-color-red-1);
}
.colors-grid--small.red div:nth-of-type(2) {
	background: var(--accent-color-red-2);
}
.colors-grid--small.red div:nth-of-type(3) {
	background: var(--accent-color-red-3);
}
.colors-grid--small.red div:nth-of-type(4) {
	background: var(--accent-color-red-4);
}
.colors-grid--small.red div:nth-of-type(5) {
	background: var(--accent-color-red-5);
}
.colors-grid--small.red div:nth-of-type(6) {
	background: var(--accent-color-red-6);
}

/* color shades: maroon */
.colors-grid--small.maroon div:nth-of-type(1) {
	background: var(--accent-color-maroon-1);
}
.colors-grid--small.maroon div:nth-of-type(2) {
	background: var(--accent-color-maroon-2);
}
.colors-grid--small.maroon div:nth-of-type(3) {
	background: var(--accent-color-maroon-3);
}
.colors-grid--small.maroon div:nth-of-type(4) {
	background: var(--accent-color-maroon-4);
}
.colors-grid--small.maroon div:nth-of-type(5) {
	background: var(--accent-color-maroon-5);
}
.colors-grid--small.maroon div:nth-of-type(6) {
	background: var(--accent-color-maroon-6);
}

/* color shades: fuchsia */
.colors-grid--small.fuchsia div:nth-of-type(1) {
	background: var(--accent-color-fuchsia-1);
}
.colors-grid--small.fuchsia div:nth-of-type(2) {
	background: var(--accent-color-fuchsia-2);
}
.colors-grid--small.fuchsia div:nth-of-type(3) {
	background: var(--accent-color-fuchsia-3);
}
.colors-grid--small.fuchsia div:nth-of-type(4) {
	background: var(--accent-color-fuchsia-4);
}
.colors-grid--small.fuchsia div:nth-of-type(5) {
	background: var(--accent-color-fuchsia-5);
}
.colors-grid--small.fuchsia div:nth-of-type(6) {
	background: var(--accent-color-fuchsia-6);
}

/* color shades: purple */
.colors-grid--small.purple div:nth-of-type(1) {
	background: var(--accent-color-purple-1);
}
.colors-grid--small.purple div:nth-of-type(2) {
	background: var(--accent-color-purple-2);
}
.colors-grid--small.purple div:nth-of-type(3) {
	background: var(--accent-color-purple-3);
}
.colors-grid--small.purple div:nth-of-type(4) {
	background: var(--accent-color-purple-4);
}
.colors-grid--small.purple div:nth-of-type(5) {
	background: var(--accent-color-purple-5);
}
.colors-grid--small.purple div:nth-of-type(6) {
	background: var(--accent-color-purple-6);
}

/* color shades: grey */
.colors-grid--small.grey div:nth-of-type(1) {
	background: var(--accent-color-grey-1);
}
.colors-grid--small.grey div:nth-of-type(2) {
	background: var(--accent-color-grey-2);
}
.colors-grid--small.grey div:nth-of-type(3) {
	background: var(--accent-color-grey-3);
}
.colors-grid--small.grey div:nth-of-type(4) {
	background: var(--accent-color-grey-4);
}
.colors-grid--small.grey div:nth-of-type(5) {
	background: var(--accent-color-grey-5);
}
.colors-grid--small.grey div:nth-of-type(6) {
	background: var(--accent-color-grey-6);
}

/* color shades: silver */
.colors-grid--small.silver div:nth-of-type(1) {
	background: var(--accent-color-silver-1);
}
.colors-grid--small.silver div:nth-of-type(2) {
	background: var(--accent-color-silver-2);
}
.colors-grid--small.silver div:nth-of-type(3) {
	background: var(--accent-color-silver-3);
}
.colors-grid--small.silver div:nth-of-type(4) {
	background: var(--accent-color-silver-4);
}
.colors-grid--small.silver div:nth-of-type(5) {
	background: var(--accent-color-silver-5);
}
.colors-grid--small.silver div:nth-of-type(6) {
	background: var(--accent-color-silver-6);
}

/* Buttons */
.styleguide-section-button .button-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	place-items: center;
	grid-gap: 20px 10px;
}

/* Form Elements */
.styleguide-section.form-elements label {
	/* display: block;
	margin: 10px; */
}

.input-container {
	margin-top: 40px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	justify-items: center;
	grid-gap: 20px;
}
